.body{
    height: 100vh;
    width: 100%;
    background-color:  rgb(136, 135, 135);
}

.container-xxl{
    max-width: 600px;
    padding-top: 100px;
}

.fw-bold{
    font-size: 17px;
}

.sair{
    cursor: pointer;
}